{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">From {{ user.username }}</h1>
    <div class="scrollable-frame" id="scrollableFrame">
    {% for msg in messages %}
        <article class="media content-section">
{#          <img class="rounded-circle article-img" src="{{ url_for('static', filename=msg.sender.image_file) }}">#}
          <div class="media-body">


            {% if msg.sender.username == user.username %}
                <div class="article-metadata" style="text-align: right;">
                    <small class="article-content">{{ msg.sender.username }}:</small>
                  <small class="text-muted">{{ msg.date.strftime('%Y-%m-%d %Hh-%Mm-%Ss') }}</small>
                </div>
                <div style="text-align: right;">
                    <audio controls>
                        <source src="{{ url_for('static', filename=msg.mp3_file_path) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                     </audio>
                </div>
              {% else %}
                    <div class="article-metadata">
                        <small class="article-content">{{ msg.sender.username }}:</small>
                      <small class="text-muted">{{ msg.date.strftime('%Y-%m-%d %Hh-%Mm-%Ss') }}</small>
                    </div>
                    <audio controls>
                        <source src="{{ url_for('static', filename=msg.mp3_file_path) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                     </audio>
                <button class="btn btn-primary decrypt-btn" data-msg-id="{{ msg.id }}">View Message</button>
                <div class="decrypted-result" id="decrypted-result-{{ msg.id }}"></div>

              {% endif %}

          </div>
        </article>
    {% endfor %}
    </div>
    <form action="{{ url_for('messages.send_message', peer_id=peer_id) }}" method="post">
        <div style="text-align: right;">
            <textarea placeholder="Type a message" id="message" name="message" rows="2" cols="100" required></textarea><br><br>
            <input type="submit" value="Send">
        </div>
    </form>
{% endblock %}


{% block scripts %}
    <script>
        window.addEventListener('load', function() {
            var scrollableFrame = document.getElementById('scrollableFrame');
            scrollableFrame.scrollTop = scrollableFrame.scrollHeight;
          });
        document.addEventListener('DOMContentLoaded', function () {
            // Add event listener to all decrypt buttons
            const decryptButtons = document.querySelectorAll('.decrypt-btn');
            console.log('lol !!!!!!!!!!!!!!!')
            decryptButtons.forEach(btn => {
                btn.addEventListener('click', async function () {
                    const msgId = btn.getAttribute('data-msg-id');
                    try {
                        // Make an AJAX request to the backend
                        const response = await fetch(`/decrypt_text/${msgId}`, {
                            method: 'POST'

                            // You can include additional headers or body content if needed
                        });
                        const data = await response.json();
                        // Display decrypted result
                        const decryptedResult = document.getElementById(`decrypted-result-${msgId}`);
                        decryptedResult.textContent = `Message: ${data.decrypted_result}`;
                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }
                });
            });
        });
    </script>
{% endblock %}
