
*.mp3
*.pyc
/talkintunes/private_keys
/talkintunes/users/__pycache__
/talkintunes/messages/__pycache__
/talkintunes/main/__pycache__
/talkintunes/users/__pycache__
/talkintunes/users/__pycache__
/.idea
/.idea
/talkintunes/main/__pycache__
